[2014-09-28 12:17] eliotstocker opened #1 "This is a sample bug. Reported by Instabug."
Issue Number:
 #3

Issue URL:
 http://instabug.instabug.com/applications/instabug-ios/bugs/3

Issue Type:
 bug

Issue Status:
 New

Screenshot:
 http://s3.amazonaws.com/instabug-pro/bugs/screenshots/311/2F8F7A70-113F-499F-B4B2-A6C07E0FB041/original/demo-screenshot.png?1401298958

Created at:
 May 28 14 at 00:00

Comment:
 This is a sample bug. Reported by Instabug.

Email:
 noreply@instabug.com

D

[2014-11-02 20:11] #1 closed, assigned to eliotstocker

[2014-11-03 22:29] wjbeckett opened #3 "Design updates/suggestions and feature requests"
Hi guys,
First of all, thank you for taking on this project and creating a better app for the LimitlessLED's. It's absolutely fantastic!

I was just playing with the app and just wanted to throw a few suggestions around to see what you think.

I was thinking, rather than having all the zones swipe-able from side to side, why not leverage even more material design and use the slide out menu? For ex

[2014-11-04 08:30] wjbeckett opened #4 "Location based actions"
Would be cool to have location based actions baked into the app.

Such as turn lights on when I get home. Or more advanced like, if I'm not at home And it's 6pm turn the entrance light on.

[2014-11-04 08:31] wjbeckett opened #5 "Time based actions"
Things like, turn the lights on at dusk, etc.

Could leverage dusk/dawn APIs and pipe them into the app. Could pull the times from the app and then send the command.

[2014-11-04 09:00] dudeofawesome opened #6 "Time Based Events (Lighting Alarms)"
I'm not sure if there is a way that we can hook in to the system to detect if an alarm is going off, but if there is a way, we would also need to make a way for the user to select which alarms should trigger the light to go on.

Another thing to think about is getting in contact with the Sleep as Android team and seeing about integrating Light Controller with their app. They already have Phillips

[2014-11-04 09:04] dudeofawesome opened #7 "Non-local control of lights"
One way to go about this would be to retrieve the user's external IP address when they attempt to control the light, and store that address.  Then, when the user is not connected to their home wifi network, we could switch the app to sending the UDP packets to the external IP address, assuming the user has forwarded the correct port to the bridge.

[2014-11-04 09:12] dudeofawesome opened #8 "Make app more accurately portray the color of the light"
To do this, we would store the color we last set the light to, assume it hasn't changed since then, and set the UI to match that.  This should include setting the location of the knob on the color ring.

[2014-11-04 09:30] #5 closed, assigned to nobody

[2014-11-11 16:20] sanzoghenzo opened #9 "Tasker plugin documentation?"
hi,
I'm trying to make some tasker profiles to work with my mi-light lights, and I used UDP sender to make it work so far. Since I installed your app and found that it has a tasker plugin, I would like to use it in order to have only one app installed, but I didn't get how the plugin works and I can't find any documentation. Should I use it to send only one message or can I batch my commands into

[2014-11-11 16:23] eliotstocker opened #10 "White Light contol"
Control white only LEDS @mrwhale could you let us know what your are thinking on this one?

[2014-11-12 09:26] eliotstocker opened #11 "Service Discoverability"
We need to implement service discoverability in order to track down WIFI boxes that dont work in the default configuration

[2014-11-12 09:27] eliotstocker opened #12 "Zone Setup"
Add at screen to do initial zone configuration and perhaps box wifi setup etc, to create a complete end to end solution

[2014-11-12 09:35] dudeofawesome opened #13 "Change on/off button from toggle to 2 buttons"
The issue with the toggle is that it doesn't necessarily start in sync with the bulb's state, and we don't have a function that can actually toggle the bulb's state.  I think that it would be more transparent for the user to be able to be able to set the bulb's state the same way we have to with code.  (Also, the widget already uses this format.)

[2014-11-14 07:10] cdany2 opened #14 "Touch to select Color"
the app is great but please add That if I push on color on the circle it will change the color so I wouldn't need to drag the button.

 Also please add more music options thanks, that the The transition between colors will be smooth !

[2014-11-14 09:22] #3 closed, assigned to nobody

[2014-11-15 17:30] #14 closed, assigned to nobody

[2014-11-16 13:44] eliotstocker opened #15 "Wifi Setup"
I have almost complete wifi setup in the app, this is dependent upon https://github.com/eliotstocker/Light-Controller/issues/11 so we need to make sure that is functioning 100% also.

the option shows up in the menu only when connected directly to the wifi control box

[2014-11-24 20:37] AppLamp-API opened #16 "Command Buffer"
Hi,
I own the websites www.applamp.nl and www.wifiledlamp.com
We sell the Mi Light bulbs, downlights and so on.
I have experimented a lot with the wifi box and documented most commands also on our websites.
I'm also a developer, and what I do know, and will help improve your app, is that you can't send a bust of commends to the wifi box or 95% will go down the drain.
For example this is why your d

[2014-11-25 20:51] #16 closed, assigned to nobody

[2014-11-25 21:06] #15 closed, assigned to nobody

[2014-11-26 22:33] AppLamp-API opened #17 "minor build issue on WIN"
Build failed due to classname Capitaization differences of class / java filename:
"class alarmPreferences" and filename AlarmPreferences.java
class notificationService / file NotificationService.java
## class switchWidget / file SwitchWidget.java

C:\androidproject\Light-Controller-master\LC1\src\main\java\tv\piratemedia\lightcontroler\AlarmPreferences.java:23: error: class alarmPrefer
ences is pu

[2014-12-21 12:14] #17 closed, assigned to nobody

[2014-12-24 08:56] mrwhale opened #18 "issue when selexting colors for a certain zone"
Hey @eliotstocker found an issue with the latest build from the white light fork.
While having zone 1 RGBW selected (or any other for that matter) while circling through the colors, after a while it starts changing the colors for the other RGBW zones too
Not sure if your getting the same issue, but just happened to me then

[2014-12-31 12:23] eliotstocker opened #19 "Contributor Names"
Hey guys, id like to add you to the contributors list for the next release,
can @mrwhale, @myntath and @AppLamp-API give me how you would like your names displayed in the contributors list?

[2014-12-31 12:31] #18 closed, assigned to nobody

[2015-01-01 01:48] mrwhale commented on #19
Awesome :)
ummmm.. yeah I think I'd prefer my real name down on that - Harry Sibenaler

Thanks man!

[2015-01-01 02:30] mrwhale commented on #18
Thanks, downloading and testing now

[2015-01-08 05:51] nagelm commented on #10
@eliotstocker White control is looking good. Only remaining issue I see is that the global white control still doesn't work on the notification/lockscreen widget.

Re: brightness control, @AppLamp-API makes some good points about the transmission delays. What about a hybrid jog control? Something like this:

![image](https://cloud.githubusercontent.com/assets/10207686/5658455/cdf3c094-9766-11e4-83

[2015-01-08 05:54] nagelm commented on #19
On the off chance that you meant me (@nagelm) instead of myntath, my name is Matthew Nagel. :)

[2015-01-08 06:08] dudeofawesome commented on #10
I haven't really been following along on progress, but a thought I had to
semi fix the relativity of brightness would be to store the last known
brightness value and offer a calibrate button that sets the light to
maximum brightness by calling brightness up 8(?) times.

On Wed, Jan 7, 2015, 22:51 nagelm <notifications@github.com> wrote:

[2015-01-08 10:06] eliotstocker commented on #10
I think im going to go along with what @AppLamp-API said, a jog dial works the best in this situation. as you can have multiple controllers it can get very confusing if trying to keep a track of the current position.

i have already started to implement this a little and will try and have something done for this weekend. then we should be looking forward to a new release

[2015-01-08 10:08] eliotstocker commented on #19
sorry @nagelm (not paying enough attention) completely missed you off of the list, will add you for the release also :)

[2015-01-08 10:24] AppLamp-API commented on #10
Hi Eliot,
Nice to hear.
Make sure it has an attractive ticking sound when you rotate it ;)
The original remote has 14 clicks per 360 degrees, or 25 degrees per click
but for the APP I think it is better to have more jog clicks, like 15
degrees per jog "click" or 24 clicks per 360 deg round.
Cheers!
Stijn

On 1/8/2015 11:06 AM, Eliot Stocker wrote:

[2015-01-12 19:15] gdbgeek commented on #7
Great thread guys. Keep up the good work.

[2015-01-12 19:53] eliotstocker commented on #10
OK Guys heres the latest beta:
https://www.dropbox.com/s/5qac7w7qibp92na/LC1-debug.apk?dl=0

i have now added two jog dials for the white light controls.

that should round off most of the features, so if we're all happy with this, then we can squash the bugs and go for a release :)

[2015-01-12 21:32] mrwhale commented on #10
Looking very nice!
Bug #1: when I press the dot button to show settings, it crashes:( I'll get a logcat output for you when I get to work and can plug into a pc

[2015-01-12 22:19] AppLamp-API commented on #10
I can't run this: "There was a problem parsing the package". Does this
only works on rooted devices? Stock android 4.4.4 Motorola E (el cheapo
today :) )
Enabling developer options doesn't seem to make a diff. That is why I
compiled the App myself last time...
Any hints?
Cheers,
Stijn

On 1/12/2015 20:53, Eliot Stocker wrote:

[2015-01-12 22:33] nagelm commented on #10
Looks great, I'll test when I'm home.

[2015-01-12 22:55] AppLamp-API commented on #10
Ok, mine works now. It had to do with my downloader that place some UTF bomb wrong I guess. Now I was able to install. Findings:
- Great TAB animation!
- Crashing on leaving the settings menu, either by Android back arrow or by GUI arrow.
- Jog animates but does not functions ( no result on my bulbs ), not for dimming, not for color temperature.
- All other white buttons work well: full, night, On

[2015-01-12 22:56] AppLamp-API commented on #10
and I'd love to see a "DETECT" button at he IP settings, to upodate broadcast settings if you switch networks.

[2015-01-13 10:23] mrwhale commented on #10
Looking awesome! Having the same issue as @AppLamp-API, point number 4. The brightness warm/coolness commands don't do anything

Nevermind, just looking at your commits, you say you haven't implemented the actual commands yet

[2015-01-13 11:21] mrwhale opened #21 "Issue if using autodetection [BUG]"
If using auto wifi bridge detection (i.e. install the app and don't touch the controller IP in settings) it works fine until you open the settings menu. Then I can't control the lights anymore until I manually change the IP to the actual IP

I did a fresh install, and everything was working fine. It was auto detecting wifi controller and I could turn things on and off. I went into settings to chan

[2015-01-13 12:24] eliotstocker commented on #10
Hmm should be working :(

this is the commit where i wired it up, can someone check my byte messages are ok for bright/warmth up and down?

https://github.com/eliotstocker/Light-Controller/commit/26f7a12bf96759c3522407d70a8c86dd3e13ae61

[2015-01-13 13:35] AppLamp-API commented on #10
Code looks good.
Doublechecked.

brightUp = function(){ return [0x3c,0x00,0x55] };
(60,0,85)

brightDown = function(){ return [0x34,0x00,0x55] };
(52,0,85)

warmer = function(){ return [0x3E,0x00,0x55] };
(62,0,85)

cooler = function(){ return [0x3F,0x00,0x55] };
(63,0,85)

On 1/13/2015 1:24 PM, Eliot Stocker wrote:

[2015-01-13 13:58] AppLamp-API commented on #10
Make sure you send the ON command for the zone or ALL _*once*_ before
using the cooler / warmer and bright up / down.
this will first activate the right bulb.

WhiteCmd.prototype.on  =  function(zone ~~INDEX ZERO TO THREE~~){
                                                 return  [
							 [  0x45,0x38,0x3D,0x37,0x32][zone]
                                                            ,0x00

[2015-01-13 18:45] eliotstocker commented on #21
Ill lookinto it as soon as i get a minute :)

[2015-01-13 18:47] eliotstocker commented on #10
OK i think i fixed the issue now, was my bad i was re-centering the control before measuring the value.
should have fixed the preference issue too i think, accidentally added a couple of preferences with the same id, added a link to everyones github too :)

new beta:
https://www.dropbox.com/s/5qac7w7qibp92na/LC1-debug.apk?dl=0

[2015-01-14 09:10] eliotstocker opened #22 "Light Controller API"
I have begun work on an intent based API, this includes a permission system where by an android package needs to be allowed before light control will begin, i will draw up some specs once its a bit more complete, but so far it is certainly working in a thirdparty text app implementation i wrote.

[2015-01-14 10:05] LimitlessLED commented on #21
Hi Eliot,

You can add a feature in the settings that lets you set the fixed IP address of the wifi bridge.  use auto detect to list all the wifi bridges on the network, and then enter a fixed ip for that particular wifi bridge.

Also a lot of homes have 2 or more wifi bridges… the auto detect should work when there is 2 or more wifi bridges in the home. i.e.  each button has a particular wifi bri

[2015-01-14 10:33] eliotstocker commented on #21
hey @LimitlessLED that sounds very interesting :) i will have a think about the user experience for that thanks for the info id love to see some sample code at somepoint, feel free to email me on eliot (at) piratemedia.tv :)

thanks for the info

[2015-01-14 20:01] AppLamp-API commented on #10
Checked your last beta and the crash on prefs seems to be gone.
The white lights bright / color temperature still don't work.
Where are you located? Please send me your full adress details to
sales@applamp.nl and I'll send you a few bulbs to test with.

Cheers De Ryck,
Stijn AppLamp
www.applamp.nl
www.wifiledlamp.com

On 1/13/2015 19:47, Eliot Stocker wrote:

[2015-01-14 21:34] mrwhale commented on #7
@LimitessLED
Hey Hamish,
You've implemented this into your version of the android app? Could you comment on this, see if we are on the right track with this feature?

Obviously we have just tried to reverse engineer the commands etc but if we can have comments from someone who has actually implemented this, that would be awesome!

[2015-01-15 21:29] nagelm commented on #10
With the latest beta the brightness control is working fine for me, no luck with colour temp though.

All white lockscreen/notification bar control is not working. It seems to control the all colour zone instead of the all white

[2015-01-15 21:46] myntath commented on #10
Yeah finding the same as nagelm. Warmth coolness control isn't working.

The widgets often stop working. What I have noticed about the widgets is that when I place two (a white and colour) on the same screen all looks ok but after a few switches one widget will switch to become the other type so I will have two colour or two white. The names of the zones change making it clear the widget has chang

[2015-01-15 22:12] AppLamp-API commented on #10
There is no nightmode available for RGBW bulbs.
The nightmodfe is implemented only in (the hardware) of the White bulbs.

On 1/15/2015 22:46, myntath wrote:

[2015-01-15 22:21] myntath commented on #10
I think there might be nightmode for RGBW but I hadn't seen anything until fairly recently, check out the following from http://www.limitlessled.com/dev/

"November 2014: how to send Nightmode to RGBW lights. send a second Off command 100 ms later. the second off command is a long press.. and it is command |= 0×80. for example 46 XOR 80 = C6 > So send 460055 Wait 100ms Then send C60055. that is he

[2015-01-16 06:33] LimitlessLED commented on #10
HOWTO: Send Nightmode to LimitlessLED RGBW lights.  www.limitlessled.com/dev

send 460055 Wait 100ms Then send C60055. (they are 3 hex bytes: 46 00 55 and C6 00 55)

technical implementation details:

to send a long press command, the format is always, send a second Off command 100 ms later. the second off command is a long press.. and the long press command is always XORed  ( 0x46 |= 0×80 )  for

[2015-01-16 07:04] myntath commented on #10
Yeah my bulbs definitely support it, even works by using the official app by pressing off then long press off. There doesn't seem to be any colour control or brightness control while in night mode.

[2015-01-16 12:58] AppLamp-API commented on #10
Doublechecked.
Nightmode indeed it works on RGBW bulbs.
Even only longpressing only (without first single OFF press) works.
Didn't know that.

On 1/16/2015 08:04, myntath wrote:

[2015-01-16 19:34] eliotstocker commented on #10
Hmm odd, mine dont appear to do it, perhapse i have old bulbs. ill add a button either way :)

[2015-01-16 19:55] LimitlessLED commented on #10
Longpressing the remote or app, sends both commands for it..

Or were you blasting udp to just force the longpress command only?  Otherwise how can you skip the first single OFF press, when the app and remote does it for you.

Regards,

Hamish.

-LimitlessLED

www.limitlessled.com

From: AppLamp-API [mailto:notifications@github.com]
Sent: Saturday, 17 January 2015 1:58 a.m.
To: eliotstocker/Light-

[2015-01-20 18:59] eliotstocker commented on #10
Hi Guys, today i received a lovely package from @AppLamp-API so with that i have now gotten the brightness and warmth jog dials working perfectly :)

here is the latest beta:
https://www.dropbox.com/s/5qac7w7qibp92na/LC1-debug.apk?dl=0

so yeah, massive thanks to @AppLamp-API, you should all go buy some bulbs from him at:
http://www.applamp.nl/ :)

[2015-01-20 19:35] eliotstocker commented on #10
I have updated that APK with some more fixes for widgets etc, i think i have pretty much all of the bugs worked out now :) and i made a curry too! good evening

[2015-01-20 19:41] mrwhale commented on #10
Awesome stuff:) downloading and testing!  Amazing work too @AppLamp-API. You ship to Australia :P ?

[2015-01-20 20:36] eliotstocker commented on #10
My girlfriend found that she got a few NPEs from the WidgetProvider, so i have updated the APK again, let me know if you find any more issues

[2015-01-20 22:14] eliotstocker commented on #10
i have added a new branch with a nav drawer, as i find the tabs to be a little difficult when there are 10 items, what do you guys think?

[2015-01-20 22:17] wjbeckett commented on #10
Hi Elliot,
Fantastic idea. This is what I was mentioning a while ago as a design
tweak. Nice to see it being implemented!

On Wed, 21 Jan 2015 8:14 am Eliot Stocker <notifications@github.com> wrote:

[2015-01-20 22:55] nagelm commented on #10
Hey Elliott, great stuff I'll have a play when I'm home. You gonna do a release with white control updates or you wanna get global control/interface ironed out?

Good idea on interface tweaks. Do you have an apk I could take a look at? otherwise I'll check it out at home.

[2015-01-20 23:48] AppLamp-API commented on #10
Hi Eliot, thanks for the kind words! Good you have it working now!
I have 2 little tweaks for the GUI:
the brightness and color temperature jogs work great, but on maximum brightness (or coolness / warmth) it always takes two pulls (pull,release,pull) on the jog towards "-8" to get to the absolute minimum brightness ( or warmth / coolness) of the bulb. I don't know how many command you fire, but w

[2015-01-21 09:29] eliotstocker commented on #10
Hey guys glad its working, i have a few more small bugs to iron out before a release but i think were headed to towards the full release now :)

@wjbeckett yeah thought you might like that haha :) heres an APK:
https://www.dropbox.com/s/9swcgxsf1rnhzqr/LC1-navbar-debug.apk?dl=0
i think in the final version i might make it an option to have one or the other as that should be simple enough. (as the

[2015-01-21 10:37] mrwhale commented on #10
Yeah color temperature makes more sense, covers both warmth/coolness

[2015-01-21 10:39] wjbeckett commented on #10
Seems to crash for me when pressing the overflow menu button (3 dots).

Not sure if anything is meant to be in there but just one small thing I
noted.

On Wed, 21 Jan 2015 7:29 pm Eliot Stocker <notifications@github.com> wrote:

[2015-01-21 18:40] eliotstocker commented on #6
I have decided to branch this out into a separate app using the new API (#22) so people who don't need the functionality wont have to have a larger app footprint etc, however i will put i link in the app for it :)

[2015-01-21 19:06] eliotstocker commented on #10
Right heres a new beta:
https://www.dropbox.com/s/5qac7w7qibp92na/LC1-debug.apk?dl=0

the new Nav Drawer is now the default navigation type, however you can change back to tabs in the settings if you prefer that :) (overflow menu will only show when tabs are enabled, settings has moved into the drawer now when enabled)

i have tweaked the white control layout a bit to hopefully fix a few issues @A

[2015-01-22 02:26] mrwhale commented on #10
Nice stuff @eliotstocker! that navigation draw looks awesome! Will give it a test tonight

[2015-01-22 08:47] mrwhale commented on #10
Just had a test, looking really good ! Pretty sure I'm just nit picking now, but when I have a white zone in night mode, and then press night mode again, it goes to full brightness then back down to night mode. So brightens up, before going back into night mode. I'll take a look at the code, to see if it's a bug or was designed that way. Awesome stuff though :) I'll open a new issue/ or maybe just

[2015-01-22 08:58] mrwhale commented on #10
Okay, I just tested the same thing with my bash script that does light controls. It does the same thing when sending night mode to the lights when it's already in night mode. However, mine didn't go as bright as this app does. Maybe timing? Mine has minimal timing when sending commands so I guess that could be it. Anyways, just something I thought I'd share. Obviously not a bug in the code though

[2015-01-28 00:41] mrwhale opened #24 "New App"
Hey guys, not an issue but thought I'd share this with everyone

Two guys have created and released a new app that does limitless/ wifi lights

https://play.google.com/store/apps/details?id=de.leethaxxs.rgbcontroller

Looks pretty neat too. Looks like they have already implemented the alarm idea this app was eventually going to have, but good to have a bit of competition :P

[2015-01-28 21:26] eliotstocker commented on #10
Right seems this is all working lovely, so im going to close this and put out a new release :)
feel free to open a new issue for any related stuff.
great work all!

[2015-01-28 21:26] #10 closed

[2015-01-28 21:27] eliotstocker commented on #24
always nice to see more work on these little bulbs

[2015-01-28 21:27] #24 closed

[2015-01-28 21:27] eliotstocker commented on #19
closing for house keeping before release 1.6

[2015-01-28 21:27] #19 closed

[2015-01-28 21:28] eliotstocker commented on #4
i will be moving this into a seperate app (or plugin kinda) that will utilise the new API #22

[2015-01-28 21:28] #4 closed

[2015-01-28 22:11] eliotstocker commented on #11
I think i am going to close this it seems to work reliably at my end, please feel free to reopen should you feel its not working 100% for you.

[2015-01-28 22:11] #11 closed

[2015-01-28 22:12] eliotstocker commented on #13
Hey Everyone, can i get some votes on this?

[2015-01-28 22:15] eliotstocker commented on #22
This is not far off a working version, will update soon with some examples of how you can use the API and an example implementation. :)

[2015-01-28 22:15] mrwhale commented on #13
Yeah I'd be more inclined to go with the 2 buttons, instead of toggle. There is me and my wife using the app, so the app can go out of sync with the bulb state pretty quickly, so you end up having to press the button a few times anyways. I mainly use the widgets, but on the occasion that I am in the app this is what happens

[2015-01-28 22:16] mrwhale commented on #22
Awesome! Look forward to having a look at this :)

[2015-01-28 22:46] AppLamp-API commented on #13
i like the toggle but the hardware doesn't allow state... and there's also folks that use the remote control, and then there's the wall switch, which on power off/power on, will light the bulb again, even if it was in off-state... so yeah... on/off buttons I guess

[2015-01-28 23:13] mrwhale commented on #8
@applamp_api or @limitlessLED they should have a grasp on the firmware. Would be awesome if we could get a hold of the source for this (hopefully its running a small linux/unix distro, would make it nice and customisable to include a database to hold info).  If anyone is keen to do it themselves, https://github.com/riptidewave93/RFLED-Server

Modify and RPi to emulate the wifibridge, and all you'd

[2015-01-29 08:41] eliotstocker commented on #13
I'm gonna call that unanimous unless anyone else cares to chime in, I'll schedule that in for the next release :)

[2015-01-29 16:49] dudeofawesome opened #25 "Blank navigation drawer in 1.6"
The navigation drawer is blank and the toolbar is missing the open navigation drawer button.

[2015-01-29 16:59] eliotstocker commented on #25
close the app and reopen?

—
Sent from Mailbox

On Thu, Jan 29, 2015 at 4:49 PM, Louis Orleans <notifications@github.com>
wrote:

[2015-01-29 18:50] dudeofawesome commented on #25
That fixed both issues

On Thu, Jan 29, 2015, 09:00 Eliot Stocker <notifications@github.com> wrote:

[2015-01-29 19:06] eliotstocker commented on #25
Yeah it was an upgrade issue that I missed, oops!
On 29 Jan 2015 18:50, "Louis Orleans" <notifications@github.com> wrote:

[2015-01-29 19:33] dudeofawesome commented on #25
It would be good if that can be fixed for the first launch, just because a
lot of users might uninstall after the first launch if it doesn't work as
expected.

On Thu Jan 29 2015 at 11:06:20 AM Eliot Stocker <notifications@github.com>
wrote:

[2015-01-29 21:18] eliotstocker commented on #25
Yeah, I can def fix it will try and bump a 1.6.1 tomorrow

[2015-01-30 01:04] nagelm commented on #13
+1 for 2 buttons. My household has multiple users and shortly a [Ninja Sphere!](https://ninjablocks.com/#home/)

[2015-01-30 01:25] nagelm commented on #8
When I was trawling the web looking for info on this hardware about 8 months ago I came across  [Futlight](http://www.futlight.com/) who as best I can tell are the manufacturers for all of these wifi lights and the makers of the MiLight software. I have seen comments on other forums where Stijn & Hamish post [Geekzone.co.nz; Ninjablocks forums] but noone has ever confirmed my suspicions (and fair

[2015-01-30 01:39] mrwhale commented on #8
For those interested, this is all I could find on the matter
Someone modded their pi to work as the bridge, so sortof finds out what hardware is used:
http://servernetworktech.com/2014/09/limitlessled-wifi-bridge-4-0-conversion-raspberry-pi/

This guy makes a youtube vid for the above blog:
https://www.youtube.com/watch?v=M_swGkuTqw4

Some guy in the comments of above finds out hardware deets of w

[2015-01-30 02:30] AppLamp-API commented on #8
Yeah FUTLIGHT is the manufacturer, but they also use other chinese
companies for the tech... so they outsource all engineering... that
really sucks because we have a lot of improvement ideas, and we never
get there.

On 1/30/2015 02:25, nagelm wrote:

[2015-01-30 09:03] eliotstocker commented on #8
@AppLamp-API you dont have a wifi bridge without it clothes on you could send us a picture of do you?
if so we may see some JTAG connectors with which we might get into the Software

[2015-01-30 09:05] eliotstocker commented on #25
fixed in new release :)
https://github.com/eliotstocker/Light-Controller/releases/tag/v.1.6.1

[2015-01-30 09:05] #25 closed

[2015-01-30 12:09] J6B opened #26 "can't get full RGB brightness"
I'm creating a MiLight Wifi simulator on ESP8266 and I figured out that I can't get full brightness network packet.

I mean that the full brightness UDP packet should looks like : 0x4E 0x1B 0x55
But using the slider on RGB panes, I got this one at top level : 0x4E 0x19 0x55

It's missing 2 step of brightness

I'm using a samsung S3 mini (with 4" screen)

@++;
J6B

[2015-01-31 18:57] eliotstocker opened #27 "Laptop broke!"
Hey guys, I was working on the api today when my screen spontaneously combusted.
Anywyas I have scheduled it in the be picked up Tuesday but will be out of action for a little while.
Not too long figers crossed.

[2015-01-31 23:14] mrwhale commented on #27
Oh no :( Hope it can get fixed quickly!

[2015-02-01 09:28] eliotstocker commented on #27
Yeah I'm hopeful too, I'll be using a backup from the office in the mean time but not sure I will get everything setup.

[2015-02-02 15:20] AppLamp-API commented on #26
That is correct. I noticed the same.
Only after retrying one or two  times on the top range you can get to
the full brightness.
I think it might be due to the UDP package overload, or due a small
slider on a high rez screen with smaller physical dimensions.
I know it might be a component slider so it is less easy to hack, but
maybe extending the slider range above 0x1B towards 0x1F and do a
value.

[2015-02-02 15:31] NoonanMedia commented on #26
i can add another tick as the top of the slider and make it send the top value again, do you think that would help?

[2015-02-02 15:33] eliotstocker commented on #26
i can add another tick to the top of the slider with another max value on it, perhaps that will solve it?

[2015-02-02 15:40] AppLamp-API commented on #8
Vriendelijke groet,
Stijn De Ryck
www.applamp.nl <http://www.applamp.nl>
T: +31(0)307370522

[logo] <http://www.applamp.nl>

The WiFi board used is HF-LPT100
http://www.hi-flying.com/products_detail/&productId=d7fa2397-c1ee-4e4f-89c3-600a864861de&comp_stats=comp-FrontProducts_list01-111.html
See the documents section on that page:
Data Sheet

　Title 	*　Description*
Version

Time
　HF-LPT100 User Ma

[2015-02-02 18:09] AppLamp-API commented on #26
Vriendelijke groet,
Stijn De Ryck
www.applamp.nl <http://www.applamp.nl>
T: +31(0)307370522

[logo] <http://www.applamp.nl>
you can try :)
Just wonder or it has to do with the slider itself (small phisical
display+hig res) or with the UDP overload
A delayed tick would be good to test though

On 2/2/2015 16:33, Eliot Stocker wrote:

[2015-02-13 15:52] eliotstocker commented on #27
All fixed and back to me safely! ill consider this bug fixed! hehe

[2015-02-13 15:52] #27 closed

[2015-02-16 22:40] eliotstocker commented on #22
the API and a simple example can be found at: https://github.com/eliotstocker/Light-ControllerAPI i will be doing further work on this as well as fleshing out examples more but for now you can see where its going, also the main app is now updated with API Permission Manager

[2015-02-16 22:41] eliotstocker commented on #22
im intending to take a look at adding light controller to Comandr soon to allow google now integration using the new API :)

[2015-02-17 00:41] AppLamp-API commented on #22
Also check the easybulb app for some inspiration. They recycled the main
connection classes from com.lierda package (MiLight APP) and gave it
some intuitive interface to couple/group the lights. Also speech
commands and their own timer server.
Good your lappie is back :)
Cheers,
Stijn
[logo] <http://www.applamp.nl>

On 2/16/2015 23:41, Eliot Stocker wrote:

[2015-02-18 02:11] myntath opened #28 "Widgets Stop Functioning Periodically"
I have noticed that from time to time the widgets stop working for me. I have widgets for both colour and white globes and sometimes they will be completely unresponsive, including hitting the settings and app buttons. When this happens the custom zone names I have set also disappear and are replaced with 'zone 1' etc... If the zone names are correct then the widget always functions reliably.

Ope

[2015-02-18 02:54] mrwhale commented on #28
Hey @myntath, I'm getting the same thing happening for me too! I thought it may have been because I am using my build that includes the android wear functionality, but obviously not. I'll hook my phone up to debug tonight to try find any errors its producing when that happens. I find it happens when I exit out of an app (Home button) to then use the widget, becomes totally unresponsive as myntath

[2015-02-18 08:27] eliotstocker commented on #28
Hmmm I was getting an NPE before sometimes on the widget, in solving that I think this may have happened I'm pretty sure it's when the widget needs to be Maya rusted and the widget host is null for some reason.

[2015-02-18 22:39] eliotstocker commented on #22
In case anyone would like to have a play with the API as it currently stands here are some APKs
a beta build of Light Controller v1.7.0:
https://www.dropbox.com/s/eoyv94uqjq4n9dy/LightController-1.7.0b.apk?dl=0
This is required as it contains most of the workings of the new API

Example app that can control the lights, (Doesn't do anything interesting but you can get an idea of what you might be a

[2015-02-18 22:39] eliotstocker commented on #6
I am going to close this and create a new repo for it in the coming days/weeks

[2015-02-18 22:39] #6 closed

[2015-02-21 14:55] Jayky opened #29 "Question: Implementation of Philips Hue bulbs?"
I found this App via F-droid and was really glad to see that even open source apps exist to control wifi bulbs. Unfortunatly I have none of the supported bulbs. So I would like to ask if there will be a connectivity to Hue bulps of Philips?
Anyway, great work. Hope you will keep on working on this app!
Maybe you will be able to create an alternative to the Apple app Ambify. Would be great :-)

[2015-02-21 20:17] eliotstocker commented on #22
OK Commandr integration appears to be working, so here we go:
a new Light Controller v1.7.0 beta APK:
https://www.dropbox.com/s/moi3h7dsrc6rm50/LightController-1.7.0b2.apk?dl=0
(Required)

and my beta release of Commandr:
https://www.dropbox.com/s/au48xv4ol00z2r0/Comandr-LightControllerBeta.apk?dl=0

there are two commands added (at the bottom of the list) to turn on and off lights in a spoken zon

[2015-02-22 00:51] mrwhale commented on #22
Nice work! Integration with Commandr is amazing! Luckily my phone is rooted so it looks easy enough to get it working with voice commands from android wear as well. Is there anyway to request the permission on/after installation of the app that requires it? If there is, that could be a more user friendly way

[2015-02-23 08:15] TameOfGroans commented on #9
more documentation could become more better

[2015-02-23 08:19] TameOfGroans opened #30 "LightFlow, indicate current color via Android led"
Know the color of off-lights via Android led. LightFlow keys onto your app notifications. I'm not happy with the Android led controls naively in either my Samsung s5 or note4.  [vzw unlim,  de]

[2015-02-23 08:23] TameOfGroans commented on #7
Is this not an ideal use case for VPN?

Root not-required

https://code.google.com/p/ics-openvpn/

pfSense openvpn (for example)

[2015-02-23 08:32] TameOfGroans commented on #7
please not upnp.  instead how about dnssd or mdns?  [zeroconf]

rfc linkage

http://www.zeroconf.org/

[2015-02-23 08:33] TameOfGroans commented on #7
Ugh a pox upon www, http://no-www.org , I intended to http://zeroconf.org/

[2015-02-24 08:32] LimitlessLED commented on #7
Installing vpn software is too annoying. I would not recommend using it.  And does vpn software support UDP broadcast?  Not normally.

[2015-02-24 08:34] LimitlessLED commented on #7
Interesting concept, dnssd or mdns.  Do you have more details on how this could be implemented. I could look at adding it to the wifi controller v5

-Hamish

LimitlessLED.

[2015-02-24 09:15] mrwhale commented on #7
I don't think any of these are worth implementing. To much overhead, protocols involved. Creating and maintaining a server in the middle (like what is currently implemented) or like what easy bulb is doing with their ones (http://easybulb.com/api/, but add more security) would be the most stable, user friendly. Make the wifi box have a persistant connection to this server, so when you are out and

[2015-02-26 12:37] MaximumBonus commented on #9
Tasker documentation and zone control would make this app perfect!

[2015-03-01 15:16] eliotstocker commented on #7
It seems to me were still best trying to implement the built in global control solution, the problem I have is that for whatever reason it doesn't appear to be ring itself up properly at my house, other upnp devices are fine but the box doesn't seem to be opening any ports or anything. And isn't control able from outside the house with the original app.

So of course with that in mind I'm not quit

[2015-03-01 15:20] eliotstocker opened #31 "Add night mode for newer rgbw bulbs"
This should be fairly simple and I would like to add it in for the next release.

[2015-03-01 15:21] eliotstocker commented on #29
If someone links me to some api documentation ill take a look at it and evaluate what might need to be done (not promising anything) of course without having any of the bulbs the testing will have to be done by someone with the bulbs

[2015-03-01 15:27] eliotstocker commented on #28
I do get this issue periodically but as of yet I'm not finding a way to consistently reproduce it, does anyone have steps to make it happen consistently? I'm pretty sure I know where the issue is in the code, but I'm not 100% on what causes it.

[2015-03-01 15:30] eliotstocker commented on #9
I think I mat rewrite the tasker integration a little, using the new api. At which time I'll also write some documentation.

[2015-03-01 19:07] Jayky commented on #29
Dear Eliot, thanks for your answer. I checked it and found a documentation here: http://www.developers.meethue.com/philips-hue-api
Unfortunatly you need to register there. If this should be a problem, I will do it and send you the ducumentation via email.
Of course, I know you can't promise anything, but if you would try it, I will try to help you by doing the testing.

[2015-03-01 19:59] mrwhale commented on #7
Sounds good! The upnp works fine in my setup with the original app, so happy to try and tests you have

[2015-03-02 09:38] LimitlessLED commented on #31
This from the www.limitlessled.com/dev website

November 2014: how to send Nightmode to RGBW lights. send a second Off command 100 ms later. the second off command is a long press.. and it is command |= 0×80. for example 46 XOR 80 = C6 > So send 460055 Wait 100ms Then send C60055. that is hex commands 46 00 55 and C6 00 55.

From: Eliot Stocker [mailto:notifications@github.com]
Sent: Monday, 2 Mar

[2015-03-02 09:42] LimitlessLED opened #32 "Add support for Pebble smart watch"
Home Remote has recently added iPhone support for Pebble smart watch.  Would be awesome if Light-Controller app could support pebble from an Android perspective!  there are plenty of Pebble owners with Android.  Pebble just announced the 1millionth Pebble watch sold.. that is by far more than any android gear watch.

Cheers,
Hamish.

[2015-03-02 09:45] LimitlessLED opened #33 "Auto App updates for beta testing"
Is there such a thing for android like TestFlight for iPhone?  whenever a new release of a build is available for testing it automatically upgrades the test app on the phone by itself after every github dev build.

Cheers,
-Hamish.

[2015-03-02 09:49] LimitlessLED opened #34 "Supporting TCP/IP mode for LimitlessLED v4.0 Bridges."
We are going to be releasing some wifi bridges with TCP/IP support in the near future to increase the reliability of communications, it will be a user defined option.  That would require apps such as Light-Controller to also have a TCP implementation of the sending command class, via a user setting to switch between UDP/IP  and TCP/IP

Regards,
-Hamish.

[2015-03-02 17:58] eliotstocker commented on #34
I have done some tcp sockets for another project I'm working on so that shouldn't be too much of an issue, are the bytes sent the same or is the whole api different?

[2015-03-02 17:59] eliotstocker commented on #33
Yeah testflight did have android support for a little bit before the apple purchase. I'll look for another solution and look to start using that :)

[2015-03-02 18:01] eliotstocker commented on #29
I'll start looking into this once 1.7 release is out of the way. Thanks for the info.

[2015-03-02 19:08] eliotstocker commented on #32
ill look into this once the android wear implementation is done.

[2015-03-02 19:47] mrwhale commented on #32
I did have a look at starting an app for pebble! But got lost in documentation, then got distracted haha @LimitlessLED do you have a beta app that you could share with us that we could work off? Off so I wouldn't mind getting stuck into it

[2015-03-02 19:50] mrwhale commented on #33
Can't you link a beta Google plus group with the beta app on google play? So when people sign up for the group, they then have access to the beta download via play storr

[2015-03-02 21:25] mrwhale commented on #31
Here is the nightmode array for rgbw zones (0-4), this is the first byte
nightarray=("x\C1" "\xC6" "\xC8" "\xCA" "\xCC")
@LimitlessLED can confirm this is correct?

[2015-03-02 22:59] eliotstocker commented on #33
yeah we can do that, i have used it for work a few times.

[2015-03-03 01:19] mnwalker commented on #32
Hi all, I have been following this project for a while as I was planning to build something similar - was planning a mobile app combined with a Pi based controller/server in order to provide remote access and IFTTT support. Been too busy on other projects to get it started but seeing the progress and teamwork on this app would probably be better to join forces rather than compete.

Just wanted to

[2015-03-03 01:39] mnwalker commented on #7
Hi,
This is a task I was planning to achieve for my lightbulbs but thinking its probably best to collaborate than compete.

My plan had been to introduce a bunch of additional functionality on a raspberry pi based server.
I know it isn't an out of the box solution, but I simply can't think of any alternative to deliver the feature set I am after.

1) Remote access API (Pi can control DDNS and UPNP

[2015-03-03 02:28] mrwhale commented on #7
Hey Mark,
Great idea's you have, I also have a raspberry pi, and do similar things to get around the shortfalls of the wifi lights design

1) Remote access API would be awesome, you could set one up yourself on the pi using (https://github.com/mrwhale/LimitlessLED) this PHP API. Create a php page that is remotely accessible from your phone etc
The remote access server that the wifi box currently u

[2015-03-03 08:32] eliotstocker commented on #32
The More the merrier, always happy for some more hands :)

[2015-03-03 10:16] LimitlessLED commented on #34
Same commands, just wifi bridge wifi module receiving mode is TCP/IP or UDP/IP selectable from Light-Controller app.

[2015-03-03 10:28] LimitlessLED commented on #7
Thanks I have taken those ideas on board,  and may look to include all of them into the limitlessled wifi bridge v5.0 firmware.

-          Cloud service address setting via API

-          IFTTT support

-          Timers and Scheduler built into the wifi bridge firmware – settings pushed out to the wifi bridge via API

[2015-03-03 10:41] LimitlessLED commented on #32
Yes I have sourcecode for the iPhone to pebble communications I can post, but it is not relevant enough for an android implementation.  Is there any similar github pebble projects with home remote control features for android?

[2015-03-03 10:42] LimitlessLED commented on #32
I wonder if it is suitable to just base the app off the buttonClick sample project for how to build a table view.

[2015-03-03 10:54] mnwalker commented on #7
Ah great news, having it natively on the controller would be the ideal
solution.
Would eliminate my need for a Pi in the middle and bring costs down.
I can do web and mobile but wouldn't know where to start on the controllers
firmware so glad you are able to help on that side.

On a related note, is the wifi controller for the LimitlessLED much
different compared to the generic milight controllers

[2015-03-06 22:13] eliotstocker opened #35 "Android Wear"
Android wear initial version is more or less done :) check it out in the wear branch, once i have done a bit more testing i will merge back into master.

@mrwhale great work, i didn't have to do too much to get it all sorted :D

[2015-03-06 22:14] eliotstocker commented on #7
@LimitlessLED Statefullness would be a great idea also, so we could ask the bridge what the last recorded state was :D

[2015-03-06 23:06] mrwhale commented on #35
Awesome stuff!
Are you able to create a release apk for this so I can install and test :) ? The wear app will only push to the watch if its a release apk and wont do it if its a debug

Really excited for this one! :)

[2015-03-07 00:09] LimitlessLED commented on #7
That still would not cover the fact that remotes can alter the state of the light too.  And resetting the wifi bridge would lose the state..  it is not possible sorry. They are more like remote command operated only, you just set the light to what you like.

-Hamish.
LimitlessLED.

[2015-03-07 10:20] eliotstocker commented on #33
Hi Guys i have created a google+ community for beta releases, the latest 1.7 beta is up there (with android wear) all you have to do is join and it will download the latest beta from the play store, feel free to let anyone know about it

[2015-03-07 10:20] #33 closed

[2015-03-07 10:21] eliotstocker commented on #35
latest version available here:
https://plus.google.com/u/0/communities/117265785994204078301

that should also install the android wear app, let me know how it goes

[2015-03-07 23:54] LimitlessLED commented on #33
The link on the google group home page does not work.

In order to install Light Controller Beta From the Play Store, join this community and then visit the link bellow to opt-in

Clicking it gives you this:

Sorry - nothing to see here.

There may be several reasons:

*	The app you’re looking for doesn't exist
*	or
*	the app developer is not currently running a test
*	or
*	you are not eligible to

[2015-03-08 00:22] mrwhale commented on #33
I think the play store might be down :( I can't even load it in a browser, not even play.google.com

[2015-03-08 13:21] eliotstocker commented on #33
@LimitlessLED did you join the google+ community? i think you have to join before you can join the beta

[2015-03-08 13:39] LimitlessLED commented on #33
Nice suggestion, but nope that’s not the problem..  I am definitely already a member.

Communities you've joined

Light Controller BETA

4 members

[2015-03-08 18:56] xwbfozuh commented on #29
Perhaps this project would be relevant? https://github.com/thht/ambilike

[2015-03-10 02:03] mrwhale opened #36 "[Bug] Widget issue. Displays clock when re-sized to smallest"
Hey Guys,
Just updated my phone back to a HTC sense ROM (Android 5.0.2, sense 6) and just noticed an issue with the widget still displaying the clock even when at its smallest size. I didn't have this issue when I was running the GPE ROM
Here's a picture for good luck
![screenshot_2015-03-09-20-03-52](https://cloud.githubusercontent.com/assets/7307429/6568067/dd7cdd4a-c725-11e4-9b53-d3224756e65b.p

[2015-03-10 20:55] eliotstocker commented on #36
Yeah I saw this once per twice, odd. Can you try deleting the widget and adding it back? Just want to know if it happens consistently. I think I have a fix for this either way :)

[2015-03-10 20:56] eliotstocker commented on #33
I have tried few things, but can't seem to work out why it's not working for you. Anyone else got any thoughts?

[2015-03-10 21:23] mrwhale commented on #33
Must be the third dot point displayed "you are not eligible to participate in the testing program"
Not sure what makes some ineligible though?

[2015-03-10 21:26] mrwhale commented on #36
Yeah can confirm it appears every time I delete and re-add.. for both rgbw and white widgets too. Strange that it displayed properly on the GPE ROM

[2015-03-11 08:11] eliotstocker commented on #33
As far as I could read on the playstore setup it would seem that the only elegibility is being part of the google+ community. Very strange

[2015-03-11 12:22] LimitlessLED commented on #33
yep it works now.

"You are now a tester"

[2015-03-13 10:20] NoonanMedia commented on #33
great :D

[2015-03-14 18:48] eliotstocker commented on #13
Added in next beta, will update in the beta channel later today or tomorrow

[2015-03-14 18:48] #13 closed

[2015-03-16 06:26] LimitlessLED commented on #34
Some people lately thought that the new black and gold label wifi controller are v1,  when they are indeed in fact the latest v4.  There are some github projects out there stating that if the label is black it must be v1. That is not true. Just thought I would mention it, in case this github project also thinks the same.

-Hamish.

[2015-03-17 20:14] eliotstocker commented on #36
This should not be sorted in v1.7 beta 3 :)

[2015-03-17 20:15] eliotstocker commented on #28
I believe this should now be sorted in the latest betas, can someone confirm?

[2015-03-17 20:16] eliotstocker commented on #30
I'm going to leave this in here as a low priority feature request and try and get around to it at some point :)

[2015-03-17 20:17] eliotstocker commented on #26
I changed a couple of small bits of code in the legates beta for this can someone check it for me? I really can't tell haha.

[2015-03-17 21:24] mrwhale commented on #28
Yeah I haven't had any issues since beta 2, will try tonight once beta 3 has updated

[2015-03-18 15:19] eliotstocker commented on #28
for now i will close this, if anyone find the issue recuring in 1.7.0 beta 3+ let me know and we can reopen

[2015-03-18 15:19] #28 closed

[2015-03-18 18:55] eliotstocker commented on #31
This is done, and will be included in beta 4

[2015-03-18 18:55] #31 closed

[2015-03-19 15:39] eliotstocker commented on #36
@mrwhale is this resolved?

[2015-03-19 19:43] mrwhale commented on #36
Yep all good now! Just had to re add the widget, but not more clock being displayed! Awesome :)

[2015-03-19 19:56] mrwhale commented on #36
Okay I spoke tok soon, it seems to appear again after a little while...

[2015-03-20 14:15] krt16s opened #38 "Provide build flavor without play-services"
Google's play-services are non-free software, could you provide an easy to use build flavor without them? I tried stripping wear and play-services from build.gradle and settings.gradle, but didn't succeed.

[2015-03-25 11:36] eliotstocker commented on #38
ill have a check on this when i get a chance, shouldn't be an issue, any particular reason you want to build it without play services? as i dont see any reason why it wouldn't run on a device without play services

[2015-04-12 18:21] eliotstocker commented on #36
any improvements on beta 4?

[2015-04-12 18:22] eliotstocker commented on #35
Im going to close this for now, for further improvements and features we can open new issues :)

[2015-04-12 18:22] #35 closed

[2015-04-12 18:23] eliotstocker commented on #26
Im going to close this, im not 100% sure its fixed but i cant detect any real difference between light controller top brightness and the milight app, let me know if it needs reopening

[2015-04-12 18:23] #26 closed

[2015-04-15 10:56] mrwhale commented on #36
Mhmmh nah not yet. It seems to go away for a few minutes after re-adding the widget, then appears. Getting a new phone in a few days anyways  :D so will let you know if its still happening on a different device

[2015-04-15 10:57] mrwhale opened #39 "[Not an issue] JRebel for Android"
Not sure if you guys have heard about this thing yet, but check out http://zeroturnaround.com/software/jrebel-for-android/ for android app development :)

[2015-04-15 13:07] eliotstocker commented on #39
interesting ill have a look at that :)

[2015-04-15 13:21] eliotstocker commented on #36
arg haha, i can tweak the values a little more also :)

[2015-04-26 16:22] kfix opened #40 "cannot use DNS hostname to specifiy bridge IP"
On my local LAN, i use openwrt on my router. Its built in control panel LuCI lets you define dynamic hostnames for any DHCP clients. I have my milight bridge MAC associated to "led.phx1.domain.TLD". Openwrt's dns+dhcp server (dnsmasq) allocates any free IP address to this MAC's  hostname so the user doesn't have micromanage their LAN's addressing.

Putting a hostname like that into light-controlle

[2015-04-26 22:05] dudeofawesome commented on #40
Android uses google's DNS by default, and doesn't use the router's DNS as a
backup, so hostnames do not work.  To fix this, you can go in to wifi
settings on your device and specify that it should use the router's DNS as
the secondary DNS.

On Sun, Apr 26, 2015 at 9:22 AM Joey Korkames <notifications@github.com>
wrote:

[2015-04-27 04:37] kfix commented on #40
DHCP-issued DNS nameserver addresses have automagically worked on my tablets since KitKat 4.4.
there's no menu option to override it in settings in Lollipop either.
anyhow, Light-controller's config page says "IP address", not "IP address / Hostname"

[2015-04-27 04:40] kfix commented on #40
GAH, i see there's a beta build with hostname support. I'll give it a try...

[2015-04-27 04:40] #40 closed

[2015-05-03 10:28] mrwhale commented on #36
Okay so update on this. On my new nexus 6 this has fixed itself. But on my wife's Samsung GS4, it's just upgraded to android 5.0.1, ( previously on 4.4.4) and this issue has started to happen on her phone too :(

[2015-05-03 10:30] mrwhale commented on #32
Okay, if no one else has looked into this I will make it my job to finally sit down and get something going!

[2015-05-04 14:18] eliotstocker commented on #32
thst would be great, my time working on this project has been a little limited of late and some further work on this is certaily required. that said i hope to have more time this coming week to finalise v1.7 so that new issues can be begun.

[2015-05-04 14:20] eliotstocker commented on #36
ok, ill have another look at this this week, and see what i can dig up, it must be something to do with DP vs PX as it differs on different device.

[2015-06-23 03:04] mrwhale opened #41 "[Bug] Crash when selecting previous zone in scrollable menu (beta version)"
Hey @eliotstocker getting a crash every time I selected the previous zone in the zone menu (beta 1.7) I haven't yet hooked this up to adb to get the crash logs but its easily duplicated. I select a zone in the zone menu to the right hand side, but when I go to select the one on the furthest left of the screen, it crashes

Here is a picture for luck

![screenshot_2015-06-19-19-27-45](https://cloud.

[2015-06-28 16:46] eliotstocker commented on #41
Cool ill try and check this out. Been crazy busy with some life things but
promis I'll get this sorted soon :)

On Tue, 23 Jun 2015 04:04 mrwhale <notifications@github.com> wrote:

[2015-08-01 11:47] vitoller opened #42 "(documentation) of intents to controll lights"
is it already possible to use an intent to control the lights?

I would like to use Llama or a shell script to control the lights.

If it is already implemented, it would be great to have some documentation on how to do it.

(in case someone is interested: I want to control/automate lights from a Kodi tv-player)

[2015-08-03 01:04] mrwhale commented on #42
So do you want to send a command from the tv running kodi to your phone to control the lights?

[2015-08-03 07:53] vitoller commented on #42
The Kodi-TV-player is an android box and has Light-Controller installed locally.

A similar scenario would be for the phone (with locally installed Light-COntroller):
When Llama (http://kebabapps.blogspot.de) detects that I enter or leave a certain area (home), it could switch the lights automatically.

[2015-08-03 08:07] mrwhale commented on #42
Oooh that makes more sense! Yeah you can api that @eliotstocker is writing up. I'm sure you could integrate tasker into this scenario to get a quick fix.

[2015-08-03 09:50] eliotstocker commented on #42
the intents are there! yeah! check out the Lightcontroller API on my
github. Ill try and tidy up the docs etc a little more

On Mon, Aug 3, 2015 at 9:07 AM mrwhale <notifications@github.com> wrote:

[2015-08-10 17:46] eliotstocker commented on #41
Fixed :)

[2015-08-10 17:46] #41 closed

[2015-08-10 17:57] eliotstocker commented on #36
Still unable to replicate this, so I'm assuming its a device specific issue. have made another small chnage, but going to close for now. please comment if anyone else is having this issue

[2015-08-10 17:57] #36 closed

[2015-08-10 18:10] eliotstocker commented on #21
Will definately add a way to use multiple bridges in the future, for now i have added a way to disable discovery :) hope that will resolve the main issue for now

[2015-08-10 18:10] #21 closed

[2015-08-11 08:53] eliotstocker commented on #42
Hi there, i have finally fixed the Markdown for the LightController API you can view it here:
https://github.com/eliotstocker/Light-ControllerAPI

however if you are specifically looking for intents you can use the following:
its best to send the flag FLAG_INCLUDE_STOPPED_PACKAGES with all Intents, as that will allow the API receiver to receive the call even if its not currently running

first req

[2015-08-11 08:53] #42 closed

[2015-08-11 08:54] eliotstocker commented on #9
Any Tasker heads ot there that fancy trying the tasker implementation using the new super simple API?

[2015-08-11 15:09] Gavacac commented on #9
I can give it a try. Can you provide more information?

[2015-08-11 17:43] eliotstocker commented on #9
I dont really know much about tasker, but for information on the API check out:
https://github.com/eliotstocker/Light-ControllerAPI

there is an example app and documentation on the API :)
let me know if you need any further info, would you like me to open up a repo and add you too it? @Gavacac or do you want to start your own repo?

[2015-08-11 18:15] eliotstocker opened #43 "Add Super Global"
Add Super Global option to widget to allow turning on/off all Zones both white and color

[2015-08-11 18:16] eliotstocker commented on #22
API seems to be functioning correctly :) any issues from now on should be added to the LightController API issue tracker :)

[2015-08-11 18:16] #22 closed

[2015-08-11 18:38] eliotstocker opened #44 "Zone List option for wear"
We should add the option to have a list of zones as the first page in the wear app to improve navigation for a large number of zones

[2015-08-11 18:39] eliotstocker opened #45 "Ability to disable Zones"
Add the ability to disable/enable each zone seperately, sounds easy but requires a bit of thinking on the pager etc

[2015-08-11 18:40] eliotstocker opened #46 "Add customisable multi switch widget"
Add a customisable multiswitch widget to allow control of a mix of color and white zones (up to 4)

[2015-08-11 18:45] eliotstocker commented on #39
Had a quick play with this, seems kinda cool but a little to complicated for a production app as far as i can tell for now, will keep an eye and think about it for future projects :) thanks for showing me @mrwhale it really is very cool! :dancers:

[2015-08-11 18:45] #39 closed

[2015-08-11 19:00] vitoller commented on #42
Cool, thanks. - i will try it (with v1.7)
The documentation  should help  a lot to geht it Wirkung.
Cool Software,
horst
Am 11.08.2015 10:53 vorm. schrieb Eliot Stocker <notifications@github.com>:Hi there, i have finally fixed the Markdown for the LightController API you can view it here:
https://github.com/eliotstocker/Light-ControllerAPI

however if you are specifically looking for intents you c

[2015-08-11 20:51] Thijxx opened #47 "Horizontal slider buttons"
I'm having a hard time to slide the horizontal sliders for Brightness and Color Temperature without sliding the entire page the buttons are on (from White 1 to White 2 for example). Maybe use a vertical slider?
Version 1.7.0 on Android

[2015-08-11 20:54] Thijxx opened #48 "Disco inferno!"
Version 1.7.0 on Android
When I go to Color Zone 1 and press Disco; nothing happens.
When I hold Disco it takes a second and then the party is on! But I can't turn it off this way.. I choose White or Night button to turn disco off. Maybe use same flip switches for al continues modes?

[2015-08-11 20:56] Thijxx opened #49 "Brightness slider"
Version 1.7.0 on Android
Is it maybe possible to make the brightness go to 0 and then to exactly the intensity one has chosen in stead of only being able to increase/decrease by slider? This may give some strange effects :D

[2015-08-11 20:58] Thijxx opened #50 "Change Zone name within Zone page"
Single page Zone control. Including changing the name of the zone by holding/long-pressing it on the zone page?

[2015-08-11 20:59] Thijxx opened #51 "Save settings"
Feature request:
Saving settings; per zone and for all zones at a specific moment. So I can turn all lights in partymode or moviemode with a single button.

[2015-08-11 21:00] Thijxx opened #52 "Crashes 1.7.0"
My app crashed on stock android, it's version 1.7.0, never runs for more than 5 minutes. I've sent crash reports.
it even crashes multiple times without me restarting it (!!!)
After crash, the app stops working. Need to restart wifi box, sucks bigtime.

[2015-08-11 21:24] eliotstocker commented on #52
This is now fixed as of the build that is currently rolling out. Please let me know if your issues persists after today's update

[2015-08-11 21:24] #52 closed

[2015-08-11 21:25] eliotstocker commented on #50
Seems to me that people aren't going to be changing the zone names all that frequently, so I'm not sure this is worth implementing.

What does everyone else think?

[2015-08-11 21:26] eliotstocker commented on #49
When you say go to 0, do you mean off?

[2015-08-11 21:27] eliotstocker commented on #48
That's a little difficult to do as we don't get any feedback from the WiFi control box so we are unaware of the current state. This is why we removed the toggle switch from on/off

Is anyone else experiencing problems when pressing the disco button?

[2015-08-11 21:28] eliotstocker commented on #47
Hmmm that's odd im not experiencing this myself, i will see what I can find out. What android version are you on?

[2015-08-11 21:30] eliotstocker commented on #49
Are you talking about white zones specifically? With white lights you aren't able to set a specify value, only increase or decrease the current (unknown) value.

This is a limitation of the bulbs unfortunately. It is not a limitation of the rgbw bulbs

[2015-08-12 00:02] mrwhale commented on #44
+1 for this

[2015-08-12 00:03] mrwhale commented on #50
Yeah I'm with you on this one @eliotstocker. on first setup of the app I change the names of the zones, and have not changed them since. Unless you are constantly moving the globes around the house, I wouldn't see the need for this

[2015-08-12 00:07] mrwhale commented on #43
That would be awesome!

[2015-08-14 19:39] eliotstocker commented on #34
Im thinking about getting a new bridge as the one i have seem to randomly turn lights on in the middle of the night at times, any way to make sure im getting the v4?

[2015-08-16 08:27] micheleesposito opened #53 "Add support for LimitlessLED RGB String"
there is a type of led string RGB from Limitlessled that implement some different command.

This are the few command to implement.

LimitlessLED RGB
------------------
22 00 55 - Lamps On
21 00 55 - Lamps Off
23 00 55 - Brightness Up
24 00 55 - Brightness Down (There are nine steps between min and max)
27 00 55 - Mode Up
28 00 55 - Mode Down (There are 20 modes. The lowest is constant white)
25 00

[2015-08-25 13:30] eliotstocker commented on #53
is there more than one zone for RGB Lights? or is it just a single control?

[2015-08-25 13:33] Thijxx commented on #47
Cyanogenmod 11 or 12

[2015-08-25 13:37] Thijxx commented on #49
Yes it may be a white-zone issue. Isn;t it possible to make the unknown value known by going back to zero first? So when I set brightness to 7, you send 100 times -1 (now it's known, it's 0) and then add 7.

[2015-08-25 13:40] eliotstocker commented on #49
the problem with this is we have to leave at least 50 ms between each call.
and there are 10 steps meaning that each time you use the slider we would
have to start with a 500ms delay to get back to 0. this has been discussed
in a previous issue, im happy to have a play with some other ideas, but i
think it need carful consideration before further work is done.

On Tue, Aug 25, 2015 at 2:37 PM Thij

[2015-08-25 13:41] eliotstocker commented on #47
cool, ill have a look and see if i can replicate the issue
On Tue, Aug 25, 2015 at 2:33 PM Thijs van Ulden <notifications@github.com>
wrote:

[2015-08-25 19:46] micheleesposito commented on #53
single control

[2015-08-26 10:35] AppLamp-API commented on #53
I wouldn't add support for the old tpe single channel RGB controllers:
they have some overlapping buggy behaviour.
They will trigger to green on some of the 4-channel RGBW commands.
Thare are 4-channel/zone RGB controllers available. They work the same
as the RGBW controllers, only on white mode they will generate an
RGB-mixed white.
So don't add commands for the old 1-zone RGB controller I would

[2015-08-27 08:35] nzhome commented on #53
but the codes on www.limitlessled.com/dev  show that there are NO overlapping codes.  and i've never seen any overlapping bugg behaviour,  I must admit it is easy to copy and paste the wrong code if you are not careful... here is the LimitlessLED official code list, as you can see there are no double ups.

    Friend LimitlessLED_Command_RGB_ALLOFF As Byte() = New Byte() {&H21, &H0, &H55}
    Frie

[2015-08-27 10:17] AppLamp-API commented on #53
It's not that they overlap at HEX, it's some hardware bug of some sort
taht causes  some RF info gets transmitted from the wifi box when using
the 4-channel bulbs.
It will put your RGB bulbs or RGB 1-channel (old model) controller to
green light.
Furthermore, it is confusing for users, and the 1-channel bulbs aren't
even on the market anymore.
My 2 cents :)

On 8/27/2015 10:35 AM, nzhome wrote:

[2015-10-14 04:59] UrielGuy opened #54 "App stops working after accessing settings"
Once I access the settings the app stops working until I remove all app data.  Let me know if I can provide more information

[2015-10-14 05:02] mrwhale commented on #54
Possibly related to #21

Try turning off autodetection, or manually setting IP for wifi bridge

[2015-10-16 19:31] nzhome commented on #53
I have both RGB and RGBW and have never seen any green light come on nor buggy behavior, and I am using schedulers and a 1 channel strip controller.   But I am using the very latest wifi bridge from LimitlessLED, so maybe that makes the difference.

[2015-10-29 19:16] zenitraM commented on #7
Hey, just for anyone who got here looking (as me) for documentation on this "cloud protocol": I have a Milight with its WiFi bridge from a random Aliexpress seller.
I tried using the LimitlessLED Windows control app (works fine on Wine) at http://www.limitlessled.com/dev/

It has some settings to get and set the Cloud API port and host to use:

- `AT+SOCKB` to get it,
- `AT+SOCKB=TCP,38899,www.any

[2015-10-29 20:50] gdbgeek commented on #7
zenitraM, that is very interesting. I assume your "WiFi bridge from a random Aliexpress seller" must be the V5 bridge as I dont believe the old V4 bridges support those command sets.

[2015-10-29 21:45] zenitraM commented on #7
Well, I got it back in April, and there are no markings on it telling the version, it's this one:
http://aliexpress.com/item/2-4G-MI-Light-Wireless-WIFI-RGB-color-Strip-bulb-lamp-internet-Remote-Controller-for-Iphone/2032002345.html?isOrig=true#extend
so not sure if it's a 5.0 or not as the LimitlessLED docs say it was released on September, maybe it's even a 4.0.

Just figured out the "protocol",

[2015-10-29 21:49] gdbgeek commented on #7
Awesome, I've got a spare hub so I might try this out, I thought the new commands required a V5 wifi bridge but perhaps I'm mistaken.

[2015-10-30 05:48] gdbgeek commented on #7
zenitraM, I can also set the cloud server on my V4 bridge. The easybulb API is really easy to use. Thanks for sharing.

[2015-10-30 06:14] LimitlessLED commented on #7
Yes, all bridges versions support those command sets in some capacity or another.

Regards,

Hamish.

-LimitlessLED

From: gdbgeek [mailto:notifications@github.com]
Sent: Friday, 30 October 2015 9:50 a.m.
To: eliotstocker/Light-Controller
Cc: LimitlessLED
Subject: Re: [Light-Controller] Non-local control of lights (#7)

zenitraM, that is very interesting. I assume your "WiFi bridge from a random A

[2015-11-20 04:13] cloudsyjared commented on #7
@gdbgeek @zenitraM are you two having any luck with either of the POST commands (colour/brightness) ? I am getting error 500 for color and invalid JSON for brightness.

[2015-11-21 19:55] gdbgeek commented on #7
@cloudsyjared I haven't tried any of the colour/brightness commands. What are you using to send the commands?

[2015-11-21 20:17] gdbgeek commented on #7
Actually @cloudsyjared I just tried and also receive a "<h1>Server Error (500)</h1>"

[2015-11-21 20:20] cloudsyjared commented on #7
@gdbgeek Firefox plugin

[2015-11-21 20:27] gdbgeek commented on #7
@cloudsyjared with the brightness I do get this message

{"success": false, "error": "Device not found"}

Which is probably correct since my bridge isn't on right now.

[2015-11-23 03:28] gdbgeek commented on #7
Slightly off topic. @cloudsyjared Im having a decent play with the API now as Im building an intermediate server in order to send commands via IFTTT. I've noticed that I can turn all of my white bulbs on/off but it doesnt work with a specific group. The Easybulb API tells me its successful but no lights are turned on.

[2015-11-23 03:31] cloudsyjared commented on #7
@gdbgeek yeah I gave up on the easybulb route and wrote my own this weekend

[2015-11-23 03:41] gdbgeek commented on #7
@cloudsyjared your own API? I'm contemplating the same now.

[2015-11-23 03:44] cloudsyjared commented on #7
@gdbgeek yep wasn't too bad

[2015-12-02 08:47] mrwhale commented on #32
Hey guys, been a while but was able to finally pick this up and made some headway. https://github.com/mrwhale/pebble-light-controller. at the moment its a standalone app, but once I get it stable enough I will port into this app and get things working. Probably needs some help eventual @eliotstocker figuring out how to get information like IP, Port and zone names out of the Light-Controller app so

[2015-12-02 09:35] NoonanMedia commented on #32
no worries, just let me know, and ill hep ya write the service, shouldn't be too different from either the API or the android Wear Service

[2015-12-02 09:36] eliotstocker commented on #32
oops wrong account, that was me! ^ haha

[2015-12-09 23:19] Djuke opened #55 "White light zone 4 disappears"
I've noticed that if you disable the RGBW zones control in settings then the 4th white light zone disappears. It doesn't matter if you have tabs enabled for navigation or not. This is tested on the nexus 6 with android 6.0 and app version 1.7.

[2016-01-10 00:00] eliotstocker commented on #4
anyone still interested in this check out:
https://github.com/eliotstocker/LiFi
it is a sepperate app that makes use of the API to turn lights on when you connect to a selected wifi network, not working quite yet, but the UI is mostly functional. and it shouldnt be far from here to functionality

[2016-01-12 20:33] eliotstocker commented on #55
Can anyone else replicate this? I can't seem to get it to happen my end

[2016-02-15 21:43] badrange commented on #29
Looks like this is the only open source phone app available - at least according to a quick check on f-droid. I just got my hands on a Philips HUE set and was pretty turned off by them requiring access to media, camera & location for their own app to even open. And you should read their privacy policy, scary!

There are many out here that would be massively grateful if Light Controller would add P

[2016-03-03 10:46] chrisvella opened #56 "Update list of supported smartbulbs?"
The description of the software seems to indicate more devices are supported but not listed.
Could you please update it? I couldn't find anything in the change log either.

[2016-03-03 16:50] eliotstocker commented on #56
Im not fully aware of all devices that are supported, as there are a number of rebranded bulbs that are the same. if anyone wishes to give me any indication of brands which are working then id be happy to update the list

[2016-03-03 16:50] #56 closed

[2016-04-28 11:34] eliotstocker commented on #32
@mrwhale any progress on this?

[2016-05-11 02:17] gdbgeek commented on #7
@zenitraM do you recall in your tests if the MAC address you see is the same MAC as you see in the official app? I'm seeing a similar MAC but the last octet is incremented by 1 (e.g. if the bridge ends with 9E I'm seeing 9F being sent to the server). I've tested 4 bridges and they all do the same thing.

[2016-05-11 09:52] eliotstocker commented on #7
I'm thinking we should start a wiki here to keep all of this info in a nice neat order

[2016-05-11 13:03] eliotstocker opened #59 "Create a plugin app to turn lights on and off based on internal location"
figure it would be cool to use Find service to turn lights on or off based on location within the home
https://github.com/schollz/find

not sure what sort of battery ramifications there would be for running this all the time as a service but would be cool to turn lights on as you enter a room and off as you leave etc.

[2016-05-11 13:03] eliotstocker commented on #59
anyone interested in this?

[2016-05-11 16:05] dudeofawesome commented on #59
I had been thinking of doing something similar, but instead using Bluetooth. You would be able to use a computer that anyway has Bluetooth or get a new beacon and the app would look for proximity.

[2016-06-16 09:01] mrwhale commented on #32
Hey @eliotstocker. No progress yet, got sidetracked a bit. But back on board now. Have just pulled the latest upstream from you and going to get to work on implementing this. Will create a branch in my fork and set up Android studio again! I've got a basic UI and watch to phone communication happening (from my last attempt) so will work on getting this talking with the light-controller app. Will d

[2016-06-18 00:42] mrwhale opened #61 "Feature Request [Discussion]"
Hey team,

Opening this one more for a discussion about current state, and feature requests. And if we feel keen, to assign some work to people!

I did a read through of the Google Play reviews, and as well I'm listing the requests from github too
I've put the most requested at the top

###Features
1. Alarm/wake up feature to simulate rising of the sun (3+ requests, all differently worded)
2. Auto

[2016-06-18 00:46] dudeofawesome commented on #61
Just a heads up, it looks like the markdown didn't get interpreted correctly. Try adding spacing between the headers and your lists below.

[2016-06-20 21:41] dudeofawesome commented on #61
I would really like for us to get integration with [Sleep as Android](https://play.google.com/store/apps/details?id=com.urbandroid.sleep). They've already got Phillips Hue, And we've got the API, so it shouldn't be too hard for either side.

[2016-06-21 20:37] eliotstocker commented on #61
@dudeofawesome wana get in touch with the devs? id be happy to help with the integration their end

[2016-06-21 20:38] dudeofawesome commented on #61
Sure. Let's break this discussion out into a new issue so we don't clog this one.

[2016-06-21 20:39] dudeofawesome opened #62 "Sleep as Android Alarm Light Support"
I would really like for us to get integration with Sleep as Android. They've already got Phillips Hue, And we've got the API, so it shouldn't be too hard for either side.

Just to verify, our API is at a state where this is feasible from our end, correct?

[2016-06-21 20:40] eliotstocker commented on #61
Ill take 2, 6 and 10 for now, and see what i can get done this week :)

what do you mean by 14?

I don't really want to make the an features in the app itself paid, but I'm very happy for people to make paid API apps

[2016-06-21 20:42] dudeofawesome commented on #61
For 10, it might be a good idea to add the "super global" switch to the API too.

[2016-06-21 20:45] eliotstocker commented on #61
will do

[2016-06-21 20:46] mrwhale commented on #61
So number 14 is a feature request when any notification comes through to the phone (email, sms, etc etc) then the light controller app will flash lights in the house to notify the person of this. I also added in the "flash certain color" and "flash certain zone" as extra, so you can choose what zone will flash and what color

Yeah I didn't know where you were at with doing paid features, just what

[2016-06-21 20:50] eliotstocker commented on #61
ahh got ya, yeah i thought of that ages ago then completely forgot haha

[2016-06-21 20:55] eliotstocker commented on #62
i believe so, i have been developing an app using the api and its been working nicely, id be happy to work with their devs to get it going

[2016-06-21 20:56] dudeofawesome commented on #62
Ok, cool. Do you want me to send them an email and CC you on it, or do you want to send it?

[2016-06-21 20:58] mrwhale commented on #32
Okay. So I have a working/beta version of pebble support in the app now! Let me know if you want the apk/pbw to test. Next step is to get a PR into master so we can push it it the beta users,and getting the pebble app up on the pebble store

@eliotstocker one thing I was thinking of adding was a boolean option in settings to turn pebble support on/off (so then I can check this in code and NOT run

[2016-06-22 10:18] mrwhale commented on #32
So I just changed it a little bit so instead of toggling on/off status with the select button on the pebble. I've made it so single click = on, and long press = off

@eliotstocker ready for you to check it out/merge into another branch of yours (I stupidly started working on it in my master branch :/ ) Would be awesome to get this out to Beta testers, and I get the pebble app uploaded to the pebbl

[2016-06-22 21:22] dudeofawesome commented on #62
Will do.

[2016-06-22 21:23] dudeofawesome commented on #32
@mrwhale, you could make a new branch off of your master for the pull request. I made the same mistake on my last PR.

[2016-06-23 22:01] eliotstocker commented on #32
@mrwhale can you send a pull request?

[2016-06-23 22:06] mrwhale commented on #32
Thanks @dudeofawesome! Yeah @eliotstocker I've just branched my master and created a Pull request. Hopefully that makes it a bit cleaner

[2016-06-23 22:10] eliotstocker commented on #32
coolio :)

i have just uploaded the assets that your requested (off github) in the repo folder pebble_assets

[2016-06-23 22:12] eliotstocker commented on #43
This is now in the repo, and will appear in the next beta. (Still a little more to add for the API) closing now as no further discussion is required and functionality is now present

[2016-06-23 22:12] #43 closed

[2016-06-23 22:13] eliotstocker commented on #50
closing to clean up a little

[2016-06-23 22:13] #50 closed

[2016-06-23 22:16] eliotstocker commented on #61
10 is mostly done and in the repo now

[2016-06-23 22:16] eliotstocker commented on #61
been thinking about 14, think this should be an API app

[2016-06-23 22:51] mrwhale commented on #32
Awesome! Much better the the on I tried to make :/

Sooo to post on the pebble store we can also include: Header Images, screenshots and Marketting Banner. If you are keen, can you create something for it..? (i'll create the screenshots)

![screenshot from 2016-06-24 08-49-57](https://cloud.githubusercontent.com/assets/7307429/16322748/b59c64a8-39e8-11e6-8300-5b970b0fa420.png)

https://developer.p

[2016-06-23 22:59] eliotstocker commented on #32
id say, lets get it up there, and im sure we can add assets later :)

[2016-06-23 23:00] mrwhale commented on #32
Sounds like a plan. Well It's ready to go live on the pebble store whenever 1.8 goes like on the beta channel

[2016-06-23 23:08] eliotstocker commented on #32
cool, will pull your PR tomorrow and get a beta up :)

[2016-06-26 00:32] mrwhale opened #64 "Implement pebble code as a service"
So after using the new pebble integration for about a week now, I've run into a few little issues
In  theory these should be solved by running the pebble code as a service, but I will need some help getting this working (I originally did try to extend the pebble class as a service but things just didn't work out)

Say I start the app during the day (on the phone) the pebble app works straight away

[2016-06-26 00:56] mrwhale commented on #64
I think I just answered my own question. https://forums.pebble.com/t/proper-way-to-background-android-app/3630

I will rully ready this and try to implement

[2016-06-26 06:36] mrwhale commented on #64
Okay, so closing this now. Was able to figure it out, no need to panic! Good to have this on the interweb now though as it took me a very long time to find this so hopefully this will show up in someone elses google search (https://github.com/jawsper/pebble-menu this was a very helpful project)

PR coming very shortly with updated code @eliotstocker, so don't publish Beta just yet

[2016-06-26 06:36] #64 closed

[2016-06-26 11:13] mrwhale opened #66 "Crash when trying to recieve a message when app has been closed"
So not sure if this one happens with the Wear aswell (haven't tested yet) but after I force close the app, I get a error.
The log below shows normal usage when the Light Controller app is in the foreground, then the `Destroy()` is when I've forced closed it, then I attempt to turn a light off from the pebble after destroy, I get the resulting crash

[code]

[2016-06-26 12:14] eliotstocker commented on #66
ok, this can be fixed by adding the following to the top of the pebble listener:

`
        StrictMode.ThreadPolicy policy = new StrictMode.ThreadPolicy.Builder().permitAll().build();
        StrictMode.setThreadPolicy(policy);
`

[2016-06-27 05:12] mrwhale commented on #66
Nice! yep that seemed to do the trick, Thanks :+1:

[2016-06-27 05:12] #66 closed

[2016-06-28 08:59] mrwhale commented on #55
Bit of a late reply on this one. But can confirm that when I disable RGBW lights, then zone 4 white light isn't in the list anymore. This was after a fresh install. Will upload image once I get to a computer

I also have Nexus 6, running Android 6. App version 1.7.1

[2016-06-28 22:53] mrwhale opened #67 "Crash when turning mobile data on/off [bug]"
When I turn my mobile data off (and maybe even when wifi gets turned off, need to double test this one) I get a crash out of LC

[code]

I tested on my master before this  commit: https://github.com/eliotstocker/Light-Controller/commit/880f844e6c8984b7613a09e3bf8b7c3ed9395c58 and all worked fine, then pulled upstream and now I get this crash. I _assume_ related to this commit where you tried to fi

[2016-08-04 02:46] mrwhale commented on #67
So i "Fixed" this by rolling back one of your commits (69dfcb9) and included this change in the "Better Pebble" PR (https://github.com/mrwhale/Light-Controller/commit/89b970ddb5b4102fab7b11ade8a2c6beca6d0106)

Obviously it affects whatever bug you were trying to initially fix

[2016-08-05 10:59] mrwhale opened #68 "Super Global doesnt work properly"
What I assume is the super global commands (the 2 up the top right of the UI) don't work properly. They only seems to do RGBW Zones, plus White Zone 1

Doesn't turn off the rest of the white zones

[2016-08-05 11:02] mrwhale opened #69 "[UI tweak] Colour of the header + status bar when changing RGBW back to white"
So when you press the "white" button it turns these bar's a sort of yellow-ey colour. Should it just turn them back to the default app Orange instead of trying to match "white"?

Just a thought as to me having the RGBW lights at white is the default behaviour, so just leaving the status bar colour as default would reflect this a bit better?

I also noticed that pressing the colour circle inside th

[2016-08-19 11:07] Zulex commented on #7
Is this feature going to be implemented in the app since some of you guys figured out how to control it from other networks. The app from : http://mi-light.com ( not the official milight manufacturer ) is able to do it without any port forwarding or changing settings. Even using colors, someone figured out how? I got the same server error.

[2016-08-19 11:22] cloudsyjared commented on #7
I have written an api + service for this that I plan on announcing soon. You can check for updates on the mithings project under my github page

Sent from my iPhone

[2016-08-19 21:32] mrwhale commented on #7
Hey guys, I think once we have launched milestone 1.8 this will be the first feature to be done for the next milestone. Once I've finished the pebble feature, I might start hacking something together to get a working prototype of this feature, see how easy it's going to be.

Nice stuff @cloudsyjared will definitely keep an eye on that :)

[2016-08-21 18:49] Zulex commented on #7
@cloudsyjared Cool project, will it only work with smartthings or are you planning make apis/libraries?

I had a look in the API of easybulb, won't that be enough to contol it by network? The server is given and authentication works with mac adresses, so we only need automatic detection of these adresses. The API can be found here : http://easybulb.com/api/

[2016-08-21 20:06] cloudsyjared commented on #7
It's an exposed web api, so anyone can use it as long as they write the app to call it. Stay tuned

Sent from my iPhone

[2016-09-10 11:10] #68 closed

[2016-09-10 11:11] eliotstocker commented on #68
oops only have one white zone :P fixed now

[2016-09-10 11:11] eliotstocker commented on #67
yeah, ill fix the main bug better (only seems to affect samsung devices)

[2016-09-10 11:11] #67 closed

[2016-09-11 11:24] eliotstocker opened #70 "Travis Auto Build"
just a bit of an announcement really, Travis auto build is now fully functional,

it can now build, run tests, sign for release and upload to the Releases Tab in github, making the deployment wayyyy easier for me

Enjoy 1.8 beta 0 is now online :D will upload to playstore beta soon

[2016-10-02 10:06] mrwhale commented on #32
Hey @eliotstocker! Did we get v1.8 to the beta channel?

[2016-10-02 10:23] #70 closed

[2016-10-02 10:25] eliotstocker commented on #32
sorry, small issue with the upload that i didn't notice, fixed now, should be up in the next couple of hours

[2016-10-02 19:33] mrwhale commented on #32
Wooo! Thanks:)

[2016-10-04 04:01] mrwhale commented on #32
I'd say this issue is closed, now that its working in the beta build. There are a few fixes/features I am planning to add, but have opened these on the pebble app repo so its not clogging this one up https://github.com/mrwhale/pebble-light-controller/issues

[2016-10-05 10:06] eliotstocker commented on #32
cool :)

[2016-10-05 10:06] #32 closed

[2016-10-06 09:55] dudeofawesome commented on #45
I've started work on this on my [`feature-disable-zones`](https://github.com/dudeofawesome/Light-Controller/tree/feature-disable-zones) branch.

I've got it working great on the main activity of the phone app, and I think I've got it working on the Wear app too, but I'm having trouble testing that. It appears that preferences aren't syncing between the phone and the watch.

[2016-10-06 12:12] eliotstocker commented on #45
sounds good :) not sure how we would do this with widgets, maybe just show less in the widget itself

Im going to set up a slack group where we can discuss issues such as the wear stuff, will post a link in a new issue for sign up

[2016-10-06 12:28] eliotstocker opened #71 "Slack Group"
Hi all, i have created a slack group so we can further discuss issues and development in a more structured way,

i will invite a number of you (by your github email addresses), but put a note here if you wish to be added or email me with an email address to add you on.

[2016-10-06 12:31] eliotstocker commented on #71
@mrwhale you dont have an email that i can access on your github, please let me knwo which email to add :D

@dudeofawesome added you

anyone else?

[2016-10-06 16:10] mrwhale commented on #71
Hey @eliotstocker! Nice idea! You can just use my Gmail for this please - harrysibenaler@gmail.com

[2016-10-06 16:12] mrwhale commented on #45
Yeah I'll have to merge this so I can play around with integrating into pebble too, nice work:) I did start some work on this a few weeks back but it never made it into my repo, still sitting locally

[2016-10-06 17:59] eliotstocker commented on #71
@mrwhale invited you :D

[2016-10-09 10:25] Zulex commented on #59
Just looked up about FIND. Seems like the best way for location based on/off button. GPS will drain way more battery. So if location based will be integrated I think this might be the way to do it. I'm going to test the application using only 1 wifi router(since most have only 1). Ill report if it's any good without using more than 1 router at home.(I can test up to 3).

[2016-10-10 00:55] dudeofawesome commented on #45
I've completed this feature, and opened a [pull request](https://github.com/eliotstocker/Light-Controller/pull/72) #72

[2016-10-10 01:24] dudeofawesome commented on #29
I just got a LifX Color 1000 bulb, and am thinking about working on adding support to Light Controller for LifX. It probably wouldn't be too much more work to add Hue too.

[2016-10-10 17:41] jared-jensen commented on #71
@eliotstocker please

[2016-10-11 08:35] eliotstocker commented on #59
i had a play at my place where i only need one router, and it seemed to work pretty well. but i assume that is because it uses all SSIDs around rather than just yours, as i live in the middle of a city there is a lot of hotspots around me, perhaps this wouldn't work for people out in the styx

[2016-10-11 08:37] eliotstocker commented on #71
@jared-jensen invited :)

[2016-10-11 08:40] eliotstocker commented on #29
ok cool, i think the best course for this sort of stuff is to have a plugin system that would allow separate packages to provide a means to control other types of bulbs, ill get some framework together soon :)

[2016-10-11 08:40] eliotstocker commented on #45
awsome!

[2016-10-11 23:30] dudeofawesome commented on #29
Here's some reference info I put together

### Table of features supported by different bulbs

|                  | MiLight RGBW | MiLight RGBWW | MiLight Dual White | LifX + | LifX Color 1000 | LifX White 800 | LifX Z | Hue White and Color | Hue White Ambiance | Hue White | Hue Lightstrip Plus | Hue Lightstrip | Hue Go | Hue Bloom |
| ---------------: | :----------: | :-----------: | :-----------

[2016-10-12 08:25] eliotstocker commented on #29
great writeup! I have started work on the Light control Provider and hope to have a good framework ready soon :)

[2016-10-12 08:27] mrwhale opened #73 "App not receiving commands from the pebble after being screen off for some time"
Mainly putting here so I remember to look into it further

Since updating to android 7 when the screen on my phone has been off for some time (need to figure out how long) it stops receiving commands from the pebble app. If i turn the screen on again, things start working normally. I assume this is to do with the new battery saving/optimization (doze and app standby) in the new OS, so will have to

[2016-10-12 08:28] eliotstocker commented on #73
to check this try turning off optimisation for light controller maybe?

[2016-10-12 08:37] mrwhale commented on #73
Good point! I'll try that today with it

[2016-10-17 12:20] eliotstocker commented on #29
Hi all, whilst the implementation is not complete i have done quite a lot on a provider model, its become part of the API so check it out here:
http://eliotstocker.github.io/Light-ControllerAPI/#provider-api

this should allow (once completed) for the community to create providers that allow all sorts of Lights etc to be controlled within this application

[2016-10-17 12:21] eliotstocker commented on #49
I'm closing this as i don't see a reasonable solution to it, please comment here if anyone has further thoughts and ill reopen

[2016-10-17 12:21] #49 closed

[2016-10-17 12:23] dudeofawesome commented on #29
Hmmm… I should write a provider for my garage door. Brightness will translate to how open it is 😄

[2016-10-17 12:23] eliotstocker commented on #29
lol

[2016-10-17 12:25] dudeofawesome commented on #29
So if I understand this correctly, if I wanted to add support for [some other lightbulb here], as an end user, I'd have to download a separate app from the Play Store?

[2016-10-17 12:25] eliotstocker commented on #29
that is correct, i will however create a dialog to make it really easy inside of light controller

[2016-10-17 12:28] dudeofawesome commented on #29
Okay, that sounds good. We might want to specify a unique keyword authors should tag their apps with, that way searching in the Play Store is easy.

[2016-10-17 12:31] eliotstocker commented on #29
definitely a good idea, i with we could just search by intent category or something, but it doesn't seem so. maybe could add something like LCProvider to every app title?

i more than happy to publish anyones Providers for them if they dont want to sign up for the dev console etc also.

[2016-10-17 12:36] dudeofawesome commented on #29
I believe that adding a keyword would be sufficient.

[2016-10-17 12:37] eliotstocker commented on #29
ok cool :) haven't looked into it much myself

[2016-10-17 16:51] mrwhale commented on #29
Check out Juice SSH, they have a plugin system for their main app, and they seem to handle it pretty well. Seems the keywork should be enough. Even LightController. So "LightController Hue Plugin"?

But having a page within settings to show the available plugins would be handy too

![screenshot_20161018-034927](https://cloud.githubusercontent.com/assets/7307429/19446770/03c7e01e-94e6-11e6-8518-8bd

[2016-10-20 16:49] eliotstocker opened #74 "Launcher Shortcuts"
now that API 25 (Android 7.1) is available we can add up to 5 launcher shortcuts, anyone have any thoughts on what to put there? maybe allow users to choose which zones to put there?

api is here for interested: https://developer.android.com/preview/shortcuts.html

[2016-10-20 18:44] jared-jensen commented on #71
@eliotstocker i didn't get an invite -- where would I look?

[2016-10-20 18:47] eliotstocker commented on #71
@jared-jensen sent it to the email address on your github profile, let me know if it didn't come through ill try and invite again

[2016-10-22 08:21] mrwhale commented on #74
Well that's pretty cool, didn't realise this was in Android 7. Yeah that would be best, allow to choose which zones. I'm sure everyone has a most used zone they'd like quick access too

[2016-10-25 18:15] dudeofawesome commented on #74
Global on / off should definitely be in there. I like the idea of user
selectable zones for the other 3.

On Thu, Oct 20, 2016, 09:49 Eliot Stocker <notifications@github.com> wrote:

[2016-10-28 00:38] mrwhale opened #75 "Crash on opening settings v1.8b"
So here is a snippet on what happens when trying to open settings, on the latest beta

[code]

[2016-11-04 11:43] eliotstocker commented on #75
resolved in beta3 being pushed to the play store now

[2016-11-24 01:43] quebecblogue opened #76 "Not really an issue, just an idea"
It would be cool if the apps could send a shut all light off signal on a schedule.
Like every weekday it shut down all the light at 10h30. To make sure, I don't waste energy leaving a light on at the night. I guess I'm getting really lazy.

I would submit the code if it was in PHP but I know squat in mobile apps.

It might even save the planet ;)

[2017-01-13 19:17] eliotstocker commented on #34
ok, I'm working on this now. finally got around to ordering a TCP bridge, so should come soon, gonna get a head start and add the TCP server etc.

[2017-01-13 19:18] eliotstocker commented on #34
thought i think i ordered a V6, i assume thats the same as v4 in that it uses TCP etc

[2017-01-13 19:56] eliotstocker commented on #47
cant replicate, closing

[2017-01-13 19:56] #47 closed

[2017-01-13 19:57] eliotstocker commented on #71
ok closing to tidy things up :)

[2017-01-13 19:57] #71 closed

[2017-01-13 20:42] eliotstocker commented on #76
seems to me it would be best as a API app, basically an alarm clock, but implementing the Light Controller API when the alarm goes off. ill try and get to it at some point if no one else feels like doing it

[2017-01-13 20:43] #69 closed

[2017-01-13 20:56] #55 closed

[2017-01-13 20:58] eliotstocker commented on #54
not sure what this is exactly, so ill close for now, please feel free to comment with more info to reopen

[2017-01-13 20:58] #54 closed

[2017-01-13 21:29] mrwhale commented on #75
Hey Eliot, just reopening this one. I'm on the latest beta release (pushed via play store) but still getting crashing when opening settings. Tried reinstalling and all that jazz

[2017-01-13 21:32] eliotstocker commented on #75
hmm wierd, can you do me a logcat?
still crashing in the same place?

[2017-01-14 02:15] mrwhale commented on #75
Okay so install of latest beta 1.8.B4 this isn't happening anymore

[2017-01-14 08:48] eliotstocker commented on #75
Great :)

Closing again, please let me know if the issue reappears

[2017-01-14 08:48] #75 closed

[2017-01-14 08:49] eliotstocker commented on #12
Added in beta 4

[2017-01-14 08:49] #12 closed

[2017-01-14 20:41] eliotstocker opened #77 "Create Provider for v6 hubs"
I have a new v6 hub, and have been looking through the new protocol and have decided to make a plugin for this as it seems to be a completely different system.

[2017-01-16 10:07] mrwhale opened #78 "[bug] on auto-rotate UI defaults back to "all Color""
As title says. If you are on a certain zone, then your screen rotates, it changes back to all Color. Does matter if you are in a colour zone or white zone

[2017-01-16 14:23] eliotstocker commented on #77
MiLight V6 hub provider is now in a separate repo,
you can follow development, add/track issues etc here:
https://github.com/eliotstocker/MiLight3Provider

[2017-03-16 19:42] krt16s commented on #38
Sigh.. seems I missed your reply for two years :/. It might run, but it will not build on hosts not serving the non-free Google Repository.

[2017-04-07 12:43] #9 closed, assigned to nobody

[2017-04-09 08:31] itProfi opened #79 "Is any chance add support for multiple controllers (WiFI) and not default port?"
Hello, Eliotstocker! Is it any chance add support for multiple controllers (WiFI) and variant port (not 5987)?

[2017-06-27 15:37] quebecblogue commented on #79
Yes, it would be great to support multiple controllers. Your app is the best but being limited to 4 zones renders it useless in my country house.

I have 3 controllers and 11 zones.

[2017-07-30 20:23] Fortaweb opened #80 "Tasker lights off problem"
Hi,

When I try to turn the lights off with the Tasker plugin, it just doesn't work.
It seems like it returns to the original state when it is done.

Dimming the light doesn't work because it only dims for a second and then becomes bright again. And turning the lights off just doesn't work. Only when I click multiple times on the on/off switch in the configuration it will blink.

But turning the l

[2017-12-25 14:16] louwers commented on #38
Would be great to have this app on F-Droid!

[2018-06-24 22:24] mrwhale opened #81 "Not available in Google Play store [AU]"
So I just got a new phone and doing the default app installs from scratch, I am unable to see this app in the play store anymore. Searching for the name directly usually showed it up first, however I cannot find it under your development account either (I am in AU region)

![image](https://user-images.githubusercontent.com/7307429/41824286-1f14b284-7851-11e8-9a74-ca777211eb21.png)

[2020-07-18 10:59] #79 closed, assigned to nobody